[submodule "modules/Pengaturan"]
	path = modules/Pengaturan
	url = https://github.com/cutisurattugas/ModulPengaturan.git
[submodule "Modules/SuratTugas"]
	path = Modules/SuratTugas
	url = https://github.com/cutisurattugas/ModulSuratTugas.git
[submodule "Modules/RekapKehadiran"]
	path = Modules/RekapKehadiran
	url = https://github.com/wxtcb/ModuleRekapKehadiran.git
